* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  color: black;
  font-size: 17px;
  font-weight: 620;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  left: 200px;
  top: 5px;
}

.nav-link:hover {
  color: white;
  background-color: #a3bb98;
}

.link-hover-effect {
  position: relative;
}

.link-hover-effect:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link-hover-effect--white:after {
  background-color: #f0f0f0;
}

.link-hover-effect--black:after {
  background-color: #242424;
}

.link-hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 3.5rem;
  font-weight: 800;
  color: #a3bb98;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  right: 200px;
}

.navbar-brand:hover {
  color: black;
}

.title h2 {
  font-size: 4.4rem;
  font-weight: 700;
  position: relative;
  top: 100px;
  right: 51px;
}

.title h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1;
  border-bottom: 3px solid #a3bb98;
  border-bottom-style: groove;
  width: 70%;
  position: relative;
  top: 105px;
  right: 47px;
}

img {
  position: relative;
  padding-left: 45rem;
  top: -280px;
}

.social-list {
  position: relative;
  display: flex;
  bottom: 320px;
  right: 40px;
}

.social-link {
  background-color: #a3bb98;
  color: black;
  padding: 6px;
  width: 38px;
  height: 38px;
  font-size: 16px;
  margin-right: 9px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 100;
}

.black-circle {
  background-color: black;
  position: relative;
  right: 144px;
  z-index: 0;
  width: 38px;
  height: 38px;
  align-items: center;
}

.social-link:hover {
  color: white;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.18);
}

.click:active {
  transform: scale(0.8);
}

/* html {
  font-size: 70%;
  font-family: "Rubik", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 2px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  margin: auto;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #a3bb98;
}

.nav-logo {
  font-size: 4rem;
  font-weight: 500;
  color: #a3bb98;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
} */
