* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  transition: all 300ms ease;
}

.nav-link {
  color: black;
  font-size: 15px;
  font-weight: 620;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-grow: 1;
}

.nav-link:hover {
  color: white;
  background-color: #a3bb98;
}

.title a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.link-hover-effect {
  position: relative;
}

.link-hover-effect:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link-hover-effect--white:after {
  background-color: #f0f0f0;
}

.link-hover-effect--black:after {
  background-color: #242424;
}

.link-hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.navbar-brand:hover {
  color: black;
}

.title h2 {
  font-size: 4.4rem;
  font-weight: 700;
  margin-top: 60px;
  line-height: 1;
}

.title h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: normal;
  border-bottom: 3px solid #a3bb98;
  border-bottom-style: groove;
  width: 47%;
}

.my-face img {
  filter: drop-shadow(0px 0px 5px rgb(90, 90, 90));
}

.nav-logo img {
  height: 95px;
  width: 95px;
}

.footer-logo img {
  height: 80px;
  width: 80px;
}

.social-list {
  position: relative;
  display: flex;
}

.social-link {
  background-color: #a3bb98;
  color: black;
  width: 38px;
  height: 38px;
  font-size: 17px;
  margin-right: 9px;
  margin-bottom: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 100;
  box-shadow: -3px 0px 4px rgb(63, 63, 63);
}

.social-link:hover {
  color: white;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.18);
}

.click:active {
  transform: scale(0.8);
}

.breaker {
  margin: 0 auto;
  max-width: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Dotted border */
hr.dotted {
  border-top: 7px dotted #c3cabf;
  height: 6px;
  width: 100%;
  opacity: 50%;
  margin: auto;
}

.about-title::after {
  opacity: 1;
  transform: translateY(-50%);
}

.about-title {
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0px 20px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
}

#about-me h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  border-bottom: 3px solid #a3bb98;
  border-bottom-style: groove;
  width: 100%;
  margin-top: 60px;
}

#about-me p {
  font-weight: 500;
  font-size: 18px;
  line-height: 2.5;
  margin-top: 100px;
  margin-bottom: 80px;
}

.project-title::after {
  opacity: 1;
  transform: translateY(-50%);
}

.project-title {
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0px 20px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
}

#projects h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  border-bottom: 3px solid #a3bb98;
  border-bottom-style: groove;
  margin-top: 60px;
  width: 100%;
}

#projects p {
  font-weight: 500;
  font-size: 18px;
  line-height: 2.5;
  margin-top: 100px;
  margin-bottom: 100px;
}

footer {
  background-color: #303030;
}

.footer-links {
  align-items: center;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.footer-link a {
  font-size: 16px;
  color: #a3bb98;
  text-decoration: none;
  text-decoration-line: none;
}

.footer-link:hover {
  color: white;
}

.footer-copyright {
  color: #a3bb98;
}

.foot {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  list-style: none;
}

#reserveModal .modal-header {
  background-color: #17a2b8;
  color: white;
}

.modal-half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}
/* 
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
} */
